<!DOCTYPE html>
<html>
<h1 class= "center">About</h1>
<head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<title>Hey. Hire me.</title>
</head>
<body>

<div class="col s12 m7">
<div class="card horizontal">
  <div class="card-image">
  <%= image_tag 'im_rey.gif', title: "I am, it's true." %>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p>I've spent the last few years of my life focusing my energy on software engineering. I've done bootcamps, online classes, in person classes, and good old fashioned research into QA automation, fullstack development (Ruby on Rails), and UX/UI. After exploring each of these fields, I have found a passion and talent for automation, and can't wait to grow in my career. 
        <br></br>
        In my spare time, you'll find me working in my garden, playing video games, reading, or traveling. 
        </p>
    </div>
  </div>
</div>
</div>

<br></br>
<br></br>
<br></br>

<ul class="collection with-header">
<li class="collection-header"><h4>Contact and Important Links</h4></li>
<a href="https://github.com/Reyholmgren" target="_blank" class="collection-item">Github</a>
<a href="https://www.linkedin.com/in/reyholmgren/" target="_blank" class="collection-item">LinkedIn</a>
<a href="mailto:rey.holmgren@gmail.com" class="collection-item">Rey.holmgren@gmail.com</a>
<a href="https://twitter.com/EmeraldAvenger" target="_blank" class="collection-item">Twitter</a>
</ul>


  </body>
<footer class="footer-distributed">

          <div class="footer-left">

            <p class="footer-links">
              <a href="http://rey-holmgren.herokuapp.com/">Home</a>
              ·
              <a href="/letter/view">About</a>
              ·
              <a href="/resume/view">Resume</a>
              ·
              <a href="https://www.youtube.com/watch?v=-crgQGdpZR0" target="_blank">Do it</a>

            </p>

            <p class="footer-company-name">Rey Holmgren &copy; 2016</p>
          </div>

          <div class="footer-center">


            <div>
              <i class="fa fa-phone"></i>
              <p> 801-885-0723</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:rey.holmgren@gmail.com">rey.holmgren@gmail.com</a></p>
            </div>

          </div>

          <div class="footer-right">



            <div class="footer-icons">

              <a href="https://www.linkedin.com/in/rey-holmgren-743205aa"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/Reyholmgren"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/emeraldavenger"><i class="fa fa-twitter"></i></a>
            </div>

          </div>

    </footer>
</html>
