<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <%= image_tag "queenstown3.jpg" %> 
        <div class="caption center-align">
          <h3 class="white-text text-white"><strong>Hello, world!</strong></h3>
          <h6 class="white-text text-white"><strong>Nice to meet you.</strong></h6>
        </div>
      </li>
      <li>
        <%= image_tag "slide2.jpg" %> 
        <div class="caption left-align">
          <h3><strong>Who are you?</strong></h3>
          <h5 class="light grey-text text-lighten-3"><strong>I'm Rey, a 25 year old software engineer currently based in Salt Lake City, Utah.</strong></h5>
        </div>
      </li>
    </ul>


  </div>




  <br>
<br>
<br>
<div class="container">
  <div class="section">
    <h5 class= 'center' ><strong> Who even are you? </strong> </h5>
    <p class= "center"> I'm Rey, a 24 year old software engineer currently based in Salt Lake City, Utah.</p>
    <br>
  </div>
</div>

  <div class="section grey lighten-4">
    <h5><strong> So why are you here?</strong></h5>
    <p> I'm proficient in Ruby on Rails, Python, Javascript, HTML, CSS, MySQL, Git, Test Driven Development, and UX design, though I specialize in Ruby on Rails and Javascript (along with AJAX, Jquery, ReactJS, etc). I actually really enjoy writing software. As frustrating as it can be, there's nothing else quite like that moment when your code executes smoothly. 
      <br>
      My education in psychology and marketing created a really strong focus on human factors, which has given me a unique perspective on user interface design. I'm able to look at web design from a psychological point of view, which has been unbelievably useful in creating a natural and instinctive flow for sites I've worked on in my career.  </p>
  </div>
<div class="container">

  <div class="section">
    <h5><strong>Yeah, but who are you really? </strong></h5>
    <p>Stuff</p>
        <div class="logo_image">
          <%= image_tag 'crown_logo.png', title: "Rey DOES mean king, after all.", class: "right" %>
         
        </div>
  </div>
</div>